<div class="content">
  <div id="header">
    <h2>Quelques informations personnelles...</h2>
  </div>
<!--  <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()" class="">-->
<!--    &lt;!&ndash; E-mail field&ndash;&gt;-->
<!--    <mat-form-field>-->
<!--      <input matInput placeholder="E-mail" formControlName="email"/>-->
<!--      <mat-error>{{getErrorMessageEmail()}}</mat-error>-->
<!--    </mat-form-field>-->

<!--    &lt;!&ndash; Password field&ndash;&gt;-->
<!--    <mat-form-field>-->
<!--      <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" formControlName="password">-->
<!--      <button mat-icon-button matSuffix (click)="togglePassword()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--      </button>-->
<!--      <mat-error>{{getErrorMessagePassword()}}</mat-error>-->
<!--    </mat-form-field>-->

<!--    &lt;!&ndash; Submit Button &ndash;&gt;-->
<!--  <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid" >Se connecter</button>-->
  <form>

  </form>

</div>
