<mat-sidenav-container class="side-nav"  >
  <mat-sidenav *ngIf="this.router.url !== '/login'" mode="over" [(opened)]="sideNavOpened">
    <app-sidenav (itemClick)="closeSidenav()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content id = "content">

    <router-outlet></router-outlet>
    <button *ngIf="this.router.url !== '/login'" mat-mini-fab color="primary"  (click)="sideNavOpened = !sideNavOpened" id="menuButton">
      <mat-icon class="nav-icon"  svgIcon="menu" aria-hidden="false" aria-label="Contacter GoodPlace"></mat-icon></button>
    <button *ngIf="this.router.url === '/login'" mat-mini-fab color="primary"  routerLink="" id="backButton">
      <mat-icon class="nav-icon"  svgIcon="back" aria-hidden="false" aria-label="Contacter GoodPlace"></mat-icon></button>
    <button mat-mini-fab color="accent" aria-label="Bouton : consulter une information" id="toggle-info-button" (click)="openDialog()">
      <mat-icon>info</mat-icon>
    </button>

  </mat-sidenav-content>
</mat-sidenav-container>
